<h1>Create a new user</h1>

<form method="POST" action="/users/new" >
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" /><br/>

  <label for="age">Age</label>
  <input type="number" id="age" name="age" /><br/>

  <label for="city">City:</label>
  <input type="text" id="city" name="city" /><br/>

  <input type="submit" value="create new user" />

</form>