<form action='/login' method="post">
<label for="email">Email</label>
<input name="email" type="text" placeholder="Email Address"/>

<label for="password">Password</label>
<input name="password" type="password" placeholder="Password"/>

<input name="submit" type="submit" value="Submit"/>

</form>
