<form action='/posts/new' method="post">

<label for="post">Post</label>
<input name="post" type="text" placeholder="Type you post here"/>

<input name="submit" type="submit" value="Submit"/>

</form>
