

<h2>Welcome to the Trendy Dress!</h2>
  <% @users.each do |user| %> 

    <p>Join Trendy Dress to discover and share photos of new dresses you love or would like to sell on Dresses2Go.com!</p>
  
<% end %>

<!-- image responsive pages" photos change size based on width of page -->