<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>IMDB Clone YEAH</title>
</head>
<nav class="navbar navbar-default">
  <% if current_user %>
    <h4>Hello, <%= current_user.username if current_user %></h4>
    <a href="/logout">Logout</a>
  <% else %>
    <a class="btn btn-success" href="/signup">Sign up</a>
    <a href="/login">Login</a>
  <% end %>
</nav>
<body>
  <%= yield %>
</body>
<footer>
  
</footer>
</html>
