#create new pins with this form


<form action="new_pin" class="form-horizontal" method="post">
  
<label for="name">Name</label>
<input type="text">

  <!--create_table "pins", force: :cascade do |t|
    t.string   "name"
    t.string   "type"
    t.string   "brand"
    t.decimal  "price"
    t.text     "description"
    t.datetime "created_at"
    t.datetime "updated_at"
    t.integer  "user_id"
  end
  -->