<!--Sign up form -->

<body>
  <form action="/signup" method="post">
      
        <h3>Signup Form</h3>
        <div class="form-group">
          <input type="signup_firstname" name="firstname" class="form-control" placeholder="First name" First name/>
        </div>

     
        <div class="form-group">
          <input type="signup_lastname" name="lastname" class="form-control" placeholder="Last name"/>
        </div>

        <div class="form-group">  
          <input type="email" name="signup_email" id="signup_email" class="form-control" placeholder="Email"/>
        </div>


        <div class="form-group">
          <input type="password" name="signup_password" id="signup_password" class="form-control" placeholder="Password"/>
        </div>  

        <div class="form-group">
          <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Confirm password"/>
        </div>

        <div class="form-group">
          <button style="submit" class="btn btn-success btn-lg">Sign Up</button> <!--You can change the color of the button by adding success, warning, danger, info, primary..etc-->
        </div>
      </form>
</body>