<h1> Sign Up </h1>

<br/>

<form action='/signup' method="post">
<label for="username">Username</label>
<input name="username" type="text" placeholder="Username"/>

<label for="email">Email Address</label>
<input name="email" type="text" placeholder="Email Address"/>

<label for="password">Password</label>
<input name="password" type="password" placeholder="Password"/>

<input name="submit" type="submit" value="Submit"/>
</form>
