<!--Sign up form -->

<body>
      <form action="/signup" class="form-horizontal" method="post">
          
        <fieldset>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <legend>Signup Form</legend>
            </div>
          </div>


        <div class="form-group">
          <label for="signup_firstname" class="col-md-2 control-label">First name</label>
          <div class="col-md-2">  
            <input type="text" name="signup_firstname" id="signup_firstname" class="form-control"/>
          </div>
        </div>

     
        <div class="form-group">
          <label for="signup_lastname" class="col-md-2 control-label">Last name</label>
          <div class="col-md-2"> 
            <input type="text" class="form-control"/>
          </div>
        </div>

        <div class="form-group">  
          <label for="signup_email"class="col-md-2 control-label">Email</label>
          <div class="col-md-2">
            <input type="email" name="signup_email" id="signup_email" class="form-control"/>
          </div>
        </div>


        <div class="form-group">
          <label for="signup_password"class="col-md-2 control-label">Password</label>
          <div class="col-md-2">
            <input type="password" name="signup_password" id="signup_password" class="form-control"/>
          </div>
        </div>  

        <div class="form-group">
          <label for="signup_password"class="col-md-2 control-label">Confirm password</label>
          <div class="col-md-2">
            <input type="password" name="signup_password" id="signup_password" class="form-control"/>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button style="submit" class="btn btn-success btn-lg">Sign Up</button> <!--You can change the color of the button by adding success, warning, danger, info, primary..etc-->
          </div>
        </div>
        
        </fieldset>

      </form>
    </div>
</body>